*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overlay{
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.button-new-joke{
    border: none;
    background: linear-gradient(to right, #FF5F1F, #F28C28);
    color: white;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 800;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.cn-image{
    width: 400px;
    height: 100%;
    cursor: pointer;
}

.joke{
    font-family: 'Concert One', cursive;
    padding-top: 100px;
    max-width: 800px;
    font-size: 25px;
}