
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.joke{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

.center {
    padding-top: 80px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

h1{
    text-align: center;
}

@media screen and (max-width: 800px) {
  .center {
    padding-top: 30px;
    padding-bottom: 10px;
      width: 50%;
  }
}

@media screen and (max-width: 400px) {
    .center {
      padding-top: 30px;
      padding-bottom: 10px;
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .joke {
        width: 80%;
        font-size: 17px;
    }
}
  
